<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <div class="row">
        <div class="col-xs-6">
          Name : <%= @doctor.name %>
        </div>
        <div class="col-xs-6">
          Specialty: <%= @specialty.name %>
        </div>
      </div>
    </h3>
  </div>
  <div class="panel-body">
    <% if @patients.any? %>
      <h3>List of Patients assign to you:</h3>
      <% @patients.each do |patient| %>
        <ul>
          <li><a href="/patients/<%= patient.id %>"><%= patient.name %></a></li>
        </ul>
      <% end %>
    <% else %>
      <h3>Currently have no patients.</h3>
    <% end %>
  </div>
</div>
<footer>
  <a href="/"><button type="button" class="btn">Home</button></a>
  <a href="/specialties"><button type="button" class="btn">Doctor by Specialty</button></a>
</footer>
