<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <div class="row">
        <div class="col-xs-3">
          Name: <%= @patient.name %>
        </div>
        <div class="col-xs-3">
          D.O.B: <%= @patient.birthday %>
        </div>
        <div class="col-xs-3">
          Doctor: <%= @doctor.name %>
        </div>
        <div class="col-xs-3">
          Specialty: <%= @specialty.name %>
        </div>
      </div>
    </h3>
  </div>
</div>
<div class="panel-body">
  <form class="patient-notes" action="#" method="post">
    <div class="form-group">
      <textarea name="patient-notes" rows="8" cols="158" placeholder="Notes" class="form-control"></textarea>
    </div>
  </form>
</div>
<footer>
  <a href="/"><button type="button" class="btn">Home</button></a>
</footer>
