<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= @patient.name %>  </h3>
  </div>
</div>
<div class="panel-body">
  <form class="patient-notes" action="index.html" method="post">
    
  </form>
  </div>
</div>
<footer>
  <a href="/"><button type="button" class="btn">Home</button></a>
</footer>
